---
version: 2
# One repository's Workflows across several states (workflow-management R1, R2). The list
# carries each Workflow's id, name, path and state, which is the name-to-id resolution this
# stage builds. The three disabled states are kept distinct on the wire because they have
# different causes (R2), and a deleted Workflow is present because its Runs persist as
# Orphaned Runs (R11). The Link header carries no rel="next", so the enumeration is the whole
# list (R1). One page serves the fixture.
interactions:
    - id: 0
      request:
        method: GET
        url: https://api.github.com/repos/o/r/actions/workflows?per_page=100
      response:
        status: 200 OK
        code: 200
        body: '{"total_count":4,"workflows":[{"id":9001,"name":"CI","path":".github/workflows/ci.yml","state":"active","created_at":"2026-01-02T00:00:00Z","updated_at":"2026-05-02T00:00:00Z"},{"id":9002,"name":"Release","path":".github/workflows/release.yml","state":"disabled_manually","created_at":"2026-01-03T00:00:00Z","updated_at":"2026-06-03T00:00:00Z"},{"id":9003,"name":"Nightly","path":".github/workflows/nightly.yml","state":"disabled_inactivity","created_at":"2026-01-04T00:00:00Z","updated_at":"2026-02-04T00:00:00Z"},{"id":9004,"name":"Old Deploy","path":".github/workflows/deploy.yml","state":"deleted","created_at":"2025-11-05T00:00:00Z","updated_at":"2025-12-05T00:00:00Z"}]}'
        headers:
            Content-Type: ["application/json; charset=utf-8"]
            X-Ratelimit-Remaining: ["4998"]
