---
version: 2
# The same match-all set, escalated: --force sends force-cancel, which is a distinct
# endpoint and never a substitution for plain cancel (run-lifecycle R6). The cancel
# endpoint is deliberately absent from this cassette, so a command that quietly sent the
# softer verb would find nothing to play and fail loudly.
interactions:
    - id: 0
      request:
        method: GET
        url: https://api.github.com/repos/o/r/actions/runs?per_page=100
      response:
        status: 200 OK
        code: 200
        body: '{"total_count":2,"workflow_runs":[{"id":11,"status":"in_progress","conclusion":null,"name":"CI","run_started_at":"2026-07-22T10:00:00Z","created_at":"2026-07-22T10:00:00Z"},{"id":12,"status":"queued","conclusion":null,"name":"Release","run_started_at":"2026-07-22T09:00:00Z","created_at":"2026-07-22T09:00:00Z"}]}'
        headers:
            Content-Type: ["application/json; charset=utf-8"]
            Etag: ['"cancel-crawl-1"']
            X-Ratelimit-Remaining: ["4990"]
    - id: 1
      request:
        method: POST
        url: https://api.github.com/repos/o/r/actions/runs/11/force-cancel
      response:
        status: 202 Accepted
        code: 202
        body: "{}"
        headers:
            Content-Type: ["application/json; charset=utf-8"]
            X-Ratelimit-Remaining: ["4989"]
            X-Ratelimit-Reset: ["1789000000"]
[...]
