---
version: 2
# A match-all cancel over o/r: one crawl page of two Runs still going (no rel="next", so
# the crawl stops), then a cancel POST for each. Run 1 answers 202, the accepted request
# run-lifecycle R4 says is not an outcome. Run 2 answers 409, which R5 and R20 read as
# "not cancelable" and record as a skip rather than a failure, so the pass still exits 0.
interactions:
    - id: 0
      request:
        method: GET
        url: https://api.github.com/repos/o/r/actions/runs?per_page=100
      response:
        status: 200 OK
        code: 200
        body: '{"total_count":2,"workflow_runs":[{"id":1,"status":"in_progress","conclusion":null,"name":"CI","run_started_at":"2026-07-22T10:00:00Z","created_at":"2026-07-22T10:00:00Z"},{"id":2,"status":"completed","conclusion":"success","name":"CI","run_started_at":"2026-07-22T09:00:00Z","created_at":"2026-07-22T09:00:00Z"}]}'
        headers:
            Content-Type: ["application/json; charset=utf-8"]
            Etag: ['"cancel-crawl-1"']
            X-Ratelimit-Remaining: ["4990"]
    - id: 1
      request:
        method: POST
        url: https://api.github.com/repos/o/r/actions/runs/1/cancel
      response:
        status: 202 Accepted
        code: 202
        body: "{}"
        headers:
            X-Ratelimit-Remaining: ["4989"]
            X-Ratelimit-Reset: ["1789000000"]
    - id: 2
      request:
        method: POST
        url: https://api.github.com/repos/o/r/actions/runs/2/cancel
      response:
        status: 409 Conflict
        code: 409
        body: '{"message":"Cannot cancel a workflow run that is completed."}'
        headers:
            Content-Type: ["application/json; charset=utf-8"]
            X-Ratelimit-Remaining: ["4988"]
            X-Ratelimit-Reset: ["1789000000"]
