---
version: 2
# A match-all delete over o/r where the middle Run's DELETE answers an authorization
# 403 (documentation_url points at this endpoint, the measured authorization shape), so
# it is a real failure and the Purge exits 1 while the other two delete cleanly
# (cli-surface R17, AC20).
interactions:
    - id: 0
      request:
        method: GET
        url: https://api.github.com/repos/o/r/actions/runs?per_page=100
      response:
        status: 200 OK
        code: 200
        body: '{"total_count":3,"workflow_runs":[{"id":1,"status":"completed","conclusion":"success","name":"CI","run_started_at":"2026-07-22T10:00:00Z","created_at":"2026-07-22T10:00:00Z"},{"id":2,"status":"completed","conclusion":"failure","name":"CI","run_started_at":"2026-07-22T09:00:00Z","created_at":"2026-07-22T09:00:00Z"},{"id":3,"status":"completed","conclusion":"success","name":"Release","run_started_at":"2026-07-22T08:00:00Z","created_at":"2026-07-22T08:00:00Z"}]}'
        headers:
            Content-Type: ["application/json; charset=utf-8"]
            Etag: ['"del-crawl-2"']
            X-Ratelimit-Remaining: ["4990"]
    - id: 1
      request:
        method: DELETE
        url: https://api.github.com/repos/o/r/actions/runs/1
      response:
        status: 204 No Content
        code: 204
        body: ""
        headers:
            X-Ratelimit-Remaining: ["4989"]
            X-Ratelimit-Reset: ["1789000000"]
    - id: 2
      request:
        method: DELETE
        url: https://api.github.com/repos/o/r/actions/runs/2
      response:
        status: 403 Forbidden
        code: 403
        body: '{"message":"Must have admin rights to Repository.","documentation_url":"https://docs.github.com/rest/actions/workflow-runs#delete-a-workflow-run"}'
        headers:
            Content-Type: ["application/json; charset=utf-8"]
            X-Ratelimit-Remaining: ["4988"]
[...]
