---
version: 2
# A match-all delete over o/r where Run 1's DELETE answers a 403 whose documentation_url
# points at the fine-grained-PAT permissions page, NOT at this endpoint's reference. It
# fails the authorization-shape correspondence, so the governor classifies it as rate
# limiting, the safe default (rate-governor open question 1). After purge R19a's three
# attempts the Run is reclassified and skipped, carrying the API's own words, and the
# Purge proceeds to Run 2, which deletes cleanly. Nothing failed, so the command exits 0
# and the skip is the only thing that explains why one Run survived (cli-surface R17).
interactions:
    - id: 0
      request:
        method: GET
        url: https://api.github.com/repos/o/r/actions/runs?per_page=100
      response:
        status: 200 OK
        code: 200
        body: '{"total_count":2,"workflow_runs":[{"id":1,"status":"completed","conclusion":"success","name":"CI","run_started_at":"2026-07-22T10:00:00Z","created_at":"2026-07-22T10:00:00Z"},{"id":2,"status":"completed","conclusion":"success","name":"CI","run_started_at":"2026-07-22T09:00:00Z","created_at":"2026-07-22T09:00:00Z"}]}'
        headers:
            Content-Type: ["application/json; charset=utf-8"]
            Etag: ['"del-crawl-skip"']
            X-Ratelimit-Remaining: ["4990"]
    - id: 1
      request:
        method: DELETE
        url: https://api.github.com/repos/o/r/actions/runs/1
      response:
        status: 403 Forbidden
        code: 403
        body: '{"message":"Resource not accessible by personal access token","documentation_url":"https://docs.github.com/rest/overview/permissions-required-for-fine-grained-personal-access-tokens"}'
        headers:
            Content-Type: ["application/json; charset=utf-8"]
            X-Ratelimit-Remaining: ["4989"]
    - id: 2
      request:
        method: DELETE
        url: https://api.github.com/repos/o/r/actions/runs/2
      response:
        status: 204 No Content
        code: 204
        body: ""
        headers:
            X-Ratelimit-Remaining: ["4988"]
            X-Ratelimit-Reset: ["1789000000"]
