---
version: 2
# run-lifecycle AC14c, taped at the figures the criterion names: a by-name re-run across
# 12 Runs of which 9 have a Job of that name. One crawl page resolves the 12, one Jobs
# listing answers for each, and 9 re-run POSTs follow. The other 3 hold only a Job named
# test, which is a definite answer and becomes an Item-less member (cli-surface R28b).
#
# Every listing answers, so the resolution reaches all 12 and nothing is unreached. That
# is what separates this tape from rerun_job_name_limited.yaml, which is the same shape
# cut short (R17a, AC14d).
interactions:
    - id: 0
      request:
        method: GET
        url: https://api.github.com/repos/o/r/actions/runs?per_page=100
      response:
        status: 200 OK
        code: 200
        body: '{"total_count":12,"workflow_runs":[{"id":1,"status":"completed","conclusion":"failure","name":"CI","run_started_at":"2026-07-22T01:00:00Z","created_at":"2026-07-22T01:00:00Z"},{"id":2,"status":"completed","conclusion":"failure","name":"CI","run_started_at":"2026-07-22T02:00:00Z","created_at":"2026-07-22T02:00:00Z"},{"id":3,"status":"completed","conclusion":"failure","name":"CI","run_started_at":"2026-07-22T03:00:00Z","created_at":"2026-07-22T03:00:00Z"},{"id":4,"status":"completed","conclusion":"failure","name":"CI","run_started_at":"2026-07-22T04:00:00Z","created_at":"2026-07-22T04:00:00Z"},{"id":5,"status":"completed","conclusion":"failure","[...]
    - id: 1
      request:
        method: GET
        url: https://api.github.com/repos/o/r/actions/runs/1/jobs?per_page=100
      response:
        status: 200 OK
        code: 200
        body: '{"total_count":2,"jobs":[{"id":101,"run_id":1,"name":"build","status":"completed","conclusion":"failure"},{"id":102,"run_id":1,"name":"test","status":"completed","conclusion":"failure"}]}'
        headers:
            X-Ratelimit-Remaining: ["4998"]
            X-Ratelimit-Reset: ["1789000000"]
            Content-Type: ["application/json; charset=utf-8"]
[...]
    - id: 13
      request:
        method: POST
        url: https://api.github.com/repos/o/r/actions/jobs/101/rerun
      response:
        status: 201 Created
        code: 201
        body: ""
        headers:
            X-Ratelimit-Remaining: ["4986"]
            X-Ratelimit-Reset: ["1789000000"]
[...]
