---
version: 2
# run-lifecycle AC14d, taped at the figures the criterion names: 40 selected Runs spanning
# two repositories, whose resolution is rate-limited after 12 Runs of which every one holds
# the named Job. The set spans repositories, so R17's friction is the typed count, and on
# the CLI --yes stands in for it (cli-surface R11).
#
# Exactly 12 re-run POSTs follow, which is the whole of the frozen set because none of the
# 12 was unmatched. The 28 appear in no count and under no skip reason: they were never
# answered, so they are unreached and not Item-less members (R17a). The 12 resolution reads
# are not re-run requests and are counted as neither.
#
# The 403 on Run 13's listing carries a documentation_url pointing at the fine-grained-PAT
# permissions page rather than at this endpoint's own reference, so it fails the
# authorization-shape correspondence and the governor classifies it as rate limiting, the
# safe default (rate-governor open question 1). The tape holds nothing after it, so a
# resolution that carried on would fail the replay.
interactions:
    - id: 0
      request:
        method: GET
        url: https://api.github.com/repos/o/a/actions/runs?per_page=100
      response:
        status: 200 OK
        code: 200
        body: '{"total_count":20,"workflow_runs":[{"id":1,"status":"completed","conclusion":"failure","name":"CI","run_started_at":"2026-07-22T01:00:00Z","created_at":"2026-07-22T01:00:00Z"},{"id":2,"status":"completed","conclusion":"failure","name":"CI","run_started_at":"2026-07-22T02:00:00Z","created_at":"2026-07-22T02:00:00Z"},{"id":3,"status":"completed","conclusion":"failure","name":"CI","run_started_at":"2026-07-22T03:00:00Z","created_at":"2026-07-22T03:00:00Z"},{"id":4,"status":"completed","conclusion":"failure","name":"CI","run_started_at":"2026-07-22T04:00:00Z","created_at":"2026-07-22T04:00:00Z"},{"id":5,"status":"completed","conclusion":"failure","[...]
    - id: 1
      request:
        method: GET
        url: https://api.github.com/repos/o/b/actions/runs?per_page=100
      response:
        status: 200 OK
        code: 200
        body: '{"total_count":20,"workflow_runs":[{"id":101,"status":"completed","conclusion":"failure","name":"CI","run_started_at":"2026-07-22T05:00:00Z","created_at":"2026-07-22T05:00:00Z"},{"id":102,"status":"completed","conclusion":"failure","name":"CI","run_started_at":"2026-07-22T06:00:00Z","created_at":"2026-07-22T[...]
    - id: 2
      request:
        method: GET
        url: https://api.github.com/repos/o/a/actions/runs/1/jobs?per_page=100
      response:
        status: 200 OK
        code: 200
        body: '{"total_count":2,"jobs":[{"id":101,"run_id":1,"name":"build","status":"completed","conclusion":"failure"},{"id":102,"run_id":1,"name":"test","status":"completed","conclusion":"failure"}]}'
        headers:
            X-Ratelimit-Remaining: ["4997"]
            X-Ratelimit-Reset: ["1789000000"]
            Content-Type: ["application/json; charset=utf-8"]
[...]
    - id: 14
      request:
        method: GET
        url: https://api.github.com/repos/o/a/actions/runs/13/jobs?per_page=100
      response:
        status: 403 Forbidden
        code: 403
        body: '{"message":"You have exceeded a secondary rate limit","documentation_url":"https://docs.github.com/rest/overview/permissions-required-for-fine-grained-personal-access-tokens"}'
        headers:
            X-Ratelimit-Remaining: ["4985"]
            X-Ratelimit-Reset: ["1789000000"]
            Content-Type: ["application/json; charset=utf-8"]
    - id: 15
      request:
        method: POST
        url: https://api.github.com/repos/o/a/actions/jobs/101/rerun
      response:
        status: 201 Created
        code: 201
        body: ""
        headers:
            X-Ratelimit-Remaining: ["4984"]
            X-Ratelimit-Reset: ["1789000000"]
[...]
