---
version: 2
# A re-run of a Run that has since been deleted. The 404 reads by the requested end state
# (run-lifecycle R22, AC13): the Run cannot gain an Attempt, so it is a failure, which is
# the opposite of the same status on a cancel, where the Run no longer existing means it
# is not running and the requested end state already holds. The listing still carries the
# Run, because the crawl is a snapshot of a live account and racing it is ordinary.
interactions:
    - id: 0
      request:
        method: GET
        url: https://api.github.com/repos/o/r/actions/runs?per_page=100
      response:
        status: 200 OK
        code: 200
        body: '{"total_count":1,"workflow_runs":[{"id":41,"status":"completed","conclusion":"failure","name":"CI","run_started_at":"2026-07-22T10:00:00Z","created_at":"2026-07-22T10:00:00Z"}]}'
        headers:
            Content-Type: ["application/json; charset=utf-8"]
            Etag: ['"rerun-missing-crawl"']
            X-Ratelimit-Remaining: ["4990"]
    - id: 1
      request:
        method: POST
        url: https://api.github.com/repos/o/r/actions/runs/41/rerun
      response:
        status: 404 Not Found
        code: 404
        body: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest"}'
        headers:
            Content-Type: ["application/json; charset=utf-8"]
            X-Ratelimit-Remaining: ["4989"]
            X-Ratelimit-Reset: ["1789000000"]
    - id: 2
      request:
        method: POST
        url: https://api.github.com/repos/o/r/actions/runs/41/cancel
      response:
        status: 404 Not Found
        code: 404
        body: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest"}'
        headers:
            Content-Type: ["application/json; charset=utf-8"]
            X-Ratelimit-Remaining: ["4988"]
            X-Ratelimit-Reset: ["1789000000"]
