---
version: 2
# A three-page unfiltered crawl of repos/o/r. total_count in each page lies (18258), and the
# decoder never reads it: the count comes from the array walked to the true end, where rel="next"
# disappears (purge R1, R2, R3, AC4, AC5). Five Runs across the pages, three of them completed +
# success, so a status=success filter applied client-side matches exactly three, the other two
# (a failure and an in_progress) dropping out. The crawl issues one request per page, derived by
# following the Link header, never from a page count compiled into the test.
interactions:
    - id: 0
      request:
        method: GET
        url: https://api.github.com/repos/o/r/actions/runs?per_page=100
      response:
        status: 200 OK
        code: 200
        body: '{"total_count":18258,"workflow_runs":[{"id":1,"status":"completed","conclusion":"success","name":"CI","run_started_at":"2026-07-22T10:00:00Z","created_at":"2026-07-22T10:00:00Z"},{"id":2,"status":"completed","conclusion":"failure","name":"CI","run_started_at":"2026-07-22T09:00:00Z","created_at":"2026-07-22T09:00:00Z"}]}'
        headers:
            Content-Type: ["application/json; charset=utf-8"]
            Etag: ['"crawl-p1"']
            Link:
                - '<https://api.github.com/repos/o/r/actions/runs?per_page=100&page=2>; rel="next", <https://api.github.com/repos/o/r/actions/runs?per_page=100&page=3>; rel="last"'
            X-Ratelimit-Remaining: ["4990"]
    - id: 1
      request:
        method: GET
        url: https://api.github.com/repos/o/r/actions/runs?per_page=100&page=2
      response:
        status: 200 OK
        code: 200
        body: '{"total_count":18258,"workflow_runs":[{"id":3,"status":"completed","conclusion":"success","name":"CI","run_started_at":"2026-07-22T08:00:00Z","created_at":"2026-07-22T08:00:00Z"},{"id":4,"status":"in_progress","conclusion":null,"name":"CI","run_started_at":"2026-07-22T07:00:00Z","created_at":"2026-07-22T07:00:00Z"}]}'
        headers:
            Content-Type: ["application/json; charset=utf-8"]
            Etag: ['"crawl-p2"']
            Link:
                - '<https://api.github.com/repos/o/r/actions/runs?per_page=100&page=3>; rel="next", <https://api.github.com/repos/o/r/actions/runs?per_page=100&page=3>; rel="last", <https://api.github.com/repos/o/r/actions/runs?per_page=100&page=1>; rel="first"'
            X-Ratelimit-Remaining: ["4989"]
[...]
