---
version: 2
# One repository's storage as three GETs: the cache-usage endpoint's two exact figures (R1),
# the Cache list carrying last_accessed_at (R7), and the Artifact list carrying expired and
# expires_at (R9, R12). The Artifact response's Link header carries no rel="next", so the
# enumeration is complete rather than an estimate (R3). No DELETE appears here: this is the
# read half of the view, and deletion is exercised in the ops package against its own tape.
interactions:
    - id: 0
      request:
        method: GET
        url: https://api.github.com/repos/o/r/actions/cache/usage
      response:
        status: 200 OK
        code: 200
        body: '{"full_name":"o/r","active_caches_size_in_bytes":10587236096,"active_caches_count":83}'
        headers:
            Content-Type: ["application/json; charset=utf-8"]
            X-Ratelimit-Remaining: ["4990"]
    - id: 1
      request:
        method: GET
        url: https://api.github.com/repos/o/r/actions/caches?per_page=100&sort=size_in_bytes
      response:
        status: 200 OK
        code: 200
        body: '{"total_count":83,"actions_caches":[{"id":987654321,"ref":"refs/heads/main","key":"setup-go-macOS-arm64-go-1.26.5-06fc251f3","version":"a1b2","last_accessed_at":"2026-07-10T00:00:00Z","created_at":"2026-07-01T00:00:00Z","size_in_bytes":302460229}]}'
        headers:
            Content-Type: ["application/json; charset=utf-8"]
            X-Ratelimit-Remaining: ["4989"]
    - id: 2
      request:
        method: GET
        url: https://api.github.com/repos/o/r/actions/artifacts?per_page=100
      response:
        status: 200 OK
        code: 200
        body: '{"total_count":2,"artifacts":[{"id":111,"name":"build-logs","size_in_bytes":145212,"expired":false,"created_at":"2026-07-05T00:00:00Z","expires_at":"2026-08-04T00:00:00Z"},{"id":222,"name":"old-test-logs","size_in_bytes":234131,"expired":true,"created_at":"2026-05-01T00:00:00Z","expires_at":"2026-06-01T00:00:00Z"}]}'
        headers:
            Content-Type: ["application/json; charset=utf-8"]
            X-Ratelimit-Remaining: ["4988"]
